.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.centered-main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}

article.content {
    margin-top: auto;
    margin-bottom: auto;
    max-width: 800px;
    width: 100%;
    padding: 20px;
}
