name: Build image

on:
  push:
    branches:
      - main

defaults:
  run:
    shell: pwsh

permissions:
  contents: write
  packages: write

jobs:
  build:
    name: Build and publish
    runs-on: ubuntu-latest
    env:
      imageName: ghcr.io/mitchfen/dailytodo:latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '10.0.x'

      - name: Cache Nuget packages
        uses: actions/cache@v5
        with:
          path: ~/.nuget/packages
          key: nuget-packages-${{ hashFiles('Directory.Packages.props') }}
          restore-keys: nuget-packages-

      - name: Build
        run: dotnet publish DailyTodo.csproj -c Release -o publish

      - name: Login to ghcr.io
        run: echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build image
        run: docker build -t ${{ env.imageName }} .

      - name: Push image
        run: docker push ${{ env.imageName }} 
